fast_bleu==0.0.90
h5py==2.10.0
lmdb==1.5.1
loguru==0.7.3
matplotlib==3.3.2
numpy==1.19.2
Pillow==11.1.0
pycocoevalcap==1.2
pycocotools==2.0.8
scikit_image==0.17.2
scipy==1.5.2
six==1.15.0
subword_nmt==0.3.8
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
torch==1.13.1+cu116
torchvision==0.14.1+cu116
tqdm==4.50.2
